* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Staatliches", cursive; }

header {
  background-color: #090909;
  font-family: "Staatliches", cursive;
  padding: 0rem 0;
  position: sticky;
  top: 0rem;
  z-index: 1;
  width: 100%; }

.navBar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navBar a img {
    width: 80%; }

.nav__input {
  display: none; }

.nav__img {
  width: 400%;
  padding-left: 0rem;
  padding-top: 4.5rem; }

.nav__menu ul {
  position: fixed;
  bottom: 0;
  top: 14.7rem;
  background-color: rgba(0, 0, 0, 0.801);
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  clip-path: circle(0 at center);
  list-style: none; }
  .nav__menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #13f813;
    margin: 0 0.7rem 0 0.7rem;
    font-size: 3rem; }

.nav__input:checked + .nav__menu ul {
  clip-path: circle(100% at center); }

.banner a img {
  max-width: 100%; }

@media (min-width: 768px) {
  .navBar {
    width: 80%;
    margin: 0 auto;
    max-width: 1320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .navBar a img {
      width: 90%; }
    .navBar nav ul {
      display: flex;
      flex-direction: row;
      background-color: rgba(255, 0, 0, 0);
      position: relative;
      top: auto;
      clip-path: none; }
      .navBar nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #13f813;
        margin: 0 0.7rem 0 0.7rem;
        font-size: 3rem; }
      .navBar nav ul a:hover,
      .navBar nav ul a:focus {
        opacity: 0.65; }
  .nav__input,
  .nav__label {
    display: none; } }

body {
  background: #524f4f; }

.container, .productos, .secproductos__etapas, .secproductos__etapas div {
  display: flex;
  flex-direction: column;
  align-items: center; }

.intro1 {
  text-align: center;
  color: #13f813;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  padding: 1.5rem; }
  .intro1 h2 {
    font-size: 2rem; }

.productos img {
  width: 85%;
  padding: 2rem;
  padding-bottom: 4rem; }

.secproductos {
  font-family: "Staatliches", cursive; }
  .secproductos h2 {
    font-size: 8rem;
    text-align: center;
    color: #13f813;
    padding: 2rem 0 0 0; }
  .secproductos section h2 {
    font-size: 5rem;
    text-align: left;
    padding: 1rem 0 1rem; }

.secproductos__etapas div img {
  width: 80%;
  padding-bottom: 2rem; }

.formulario {
  width: 60%;
  margin: auto;
  padding: 2rem 0 2rem 0;
  font-family: "Staatliches", cursive;
  color: #13f813;
  font-size: 2rem; }
  .formulario fieldset {
    border-color: #090909;
    border-style: double;
    padding: 1rem; }

.formulario__boxTexto {
  text-align: center; }

.formulario__Botones {
  text-align: center; }
  .formulario__Botones input {
    background-color: #090909;
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: #13f813;
    padding: 0.5rem; }

.nosotros {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  color: #f7f1f1;
  text-align: center;
  padding: 2rem;
  line-height: 3rem; }
  .nosotros h2 {
    padding: 2rem;
    color: #13f813; }
  .nosotros table {
    margin: 1rem auto; }
    .nosotros table tr th,
    .nosotros table td {
      padding: 1rem; }

@media (min-width: 768px) {
  .productos {
    flex-direction: row;
    justify-content: space-between;
    width: auto; }
    .productos img {
      width: 25%;
      padding: 2rem;
      padding-bottom: 4rem; }
  .intro1 {
    font-size: 2rem; }
    .intro1 h2 {
      font-size: 2rem; }
  /* Pagina Fertilizante y Sustratos */
  .secproductos__etapas {
    display: flex;
    flex-direction: column; }
  .secproductos__etapas div {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .secproductos__etapas div img {
    width: 25%;
    padding-bottom: 3rem; }
  .secproductos h2 {
    font-size: 5rem; }
  .secproductos section h2 {
    font-size: 3rem; } }

footer {
  color: #f7f1f1;
  font-family: "Staatliches", cursive;
  background-color: #090909;
  padding: 2rem 0rem 0rem 2rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  footer div {
    width: 80%; }

.pagos {
  padding-top: 2rem;
  color: #00e4ec;
  font-size: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .pagos img {
    width: 30.9%; }

@media (min-width: 768px) {
  footer {
    font-size: 2rem;
    padding-bottom: 2rem;
    flex-direction: row;
    justify-content: space-between; }
    footer div {
      width: 50%; }
  .pagos {
    color: #00e4ec;
    font-size: 3rem; }
    .pagos img {
      width: 32%; } }
