footer {
  color: $white;
  font-family: $fuentePrincipal;
  background-color: $black;
  padding: 2rem 0rem 0rem 2rem;
  font-size: map-get($map: $fsize, $key: "uno");
  display: flex;
  @include flexDirJus(flex, column, center);
  div {
    width: 80%;
  }
}

.pagos {
  padding-top: 2rem;
  color: $colorPagos;
  font-size: map-get($map: $fsize, $key: "tres");
  @include flexDirJus(flex, column, center);
  img {
    width: 30.9%;
  }
}

@media (min-width: 768px) {
  footer {
    font-size: 2rem;
    padding-bottom: 2rem;
    flex-direction: row;
    justify-content: space-between;
    div {
      width: 50%;
    }
  }

  .pagos {
    color: $colorPagos;
    font-size: map-get($map: $fsize, $key: "dos");
    @include flexDirJus(flex, column, center);
    img {
      width: 32%;
    }
  }
}
